@import url(https://fonts.bunny.net/css?family=hind:300,400|playfair-display:700,800);

*{
    padding:0;
    margin:0;
}

html{
    font-family: "Hind", Verdana, sans-serif;
    font-size: 10px;
    color: #494949;
    background-color: #f8e7d3;
    width: 100vw;
    overflow-x: hidden;
}

h1,
h2{
    font-family: "Playfair Display", 'Times New Roman', serif;
    font-weight: 700;
    color: #f05b5b;
}

p{
    font-size: 1.6rem;
}

/* Container */
#container{
    position: relative;
    overflow: hidden;
}

#redLineCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

/* Rotate your screen */
@media screen and (max-height: 740px){
    #rotate{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #rotate img{
        width:50vw;
        max-height: 80%;
        object-fit: contain;
    }

    #container > :not(#rotate) {
        display: none
    }
}

/* Small screens */
@media screen and (max-width: 960px) and (min-height: 741px){
    #rotate{
        display:none;
    }

    /* Header */
    header{
        width: 100vw;
        height: 100vh;
    }
    
    header h1{
        padding-top: 40vh;
        font-size: 4.8rem;
        text-align: center;
    }
    
    #header{
        padding: 0 2.5em;
    }
    
    header p{
        text-align: center;
    }

    /* Character */
    .character{
        position: absolute;
        z-index: 1;
    }
    
    #character1{
        top: 80vh;
        left: 50px;
    }
    
    #character2{
        top: 30vh;
        left: 150vw;
        visibility: hidden;
    }

    /* Panels */
    #panel1, #panel2, #panel3, #panel4, #panel5, #panel6, #panel7, #panel8, #panel9{
        width: 100vw;
        height: 100vh;
    }
}

/* For desktop */
@media only screen and (min-width:960px) and (min-height: 741px){
    #rotate{
        display:none;
    }
    /* Header */
    header{
        width: 100vw;
        height: 100vh;
    }

    header h1{
        padding-top: 60vh;
        padding-left: 15rem;
        font-size: 4.8rem;
    }

    header p{
        padding-left: 15.6rem;
    }

    /* Character */
    .character{
        position: absolute;
        z-index: 1;
    }
    
    #character1{
        top: 85vh;
        left: 50px;
    }
    
    #character2{
        top: 50vh;
        left: 150vw;
        visibility: hidden;
    }

    /* Panels */
    #panel1, #panel2, #panel3, #panel4, #panel5, #panel6, #panel7, #panel8, #panel9{
        width: 100vw;
        height: 100vh;
    }
}